
<md-content layout layout-align="center top">
<md-list flex="80" flex-sm="100"  ng-cloak layout layout-wrap>

  <md-subheader class="md-no-sticky" flex="100">Current occupancy</md-subheader>
  <md-card ng-repeat="occupant in occupants" flex="20" ng-class="{ 'present': occupant.occupancy_status=='OccupancyEnum.present', 'absent': occupant.occupancy_status=='OccupancyEnum.absent', 'blink': occupant.transitioning}">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">[[occupant.name]]</span>
            <!-- <span class="md-subhead">Large</span> -->
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>

</md-list>
</md-content>