<html lang="en" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
    <link rel="stylesheet" href="static/lib/angular-material.min.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body ng-app="SmartDoor" ng-cloak  ng-controller="HomeCtrl">
  <!--
    Your HTML content here
-->  
<div ng-include="'static/templates/toolbar.html'"></div>
<div ng-include="include_url"></div>

<script src="static/lib/mqttws31.min.js"></script>


<!-- Angular Material requires Angular.js Libraries -->
<script src="static/lib/angular.min.js"></script>
<script src="static/lib/angular-animate.min.js"></script>
<script src="static/lib/angular-aria.min.js"></script>
<script src="static/lib/angular-messages.min.js"></script>
<script src="static/lib/angular-resource.min.js"></script>
<script src="static/lib/angular-route.min.js"></script>

<!-- Angular Material Library -->
<script src="static/lib/angular-material.min.js"></script>
<!-- Angular MQTT Library -->
<script src="static/lib/bower_components/angular-mqtt/src/browserMqtt.js"></script>
<script src="static/lib/bower_components/angular-mqtt/src/angular-MQTT.js"></script>
<!-- Your application bootstrap  -->
<script src="static/js/app.js"></script>
<script src="static/js/routes.js"></script>
<script src="static/js/services.js"></script>
<script src="static/js/controllers.js"></script>


</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->

